@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  font-family: "Commissioner", sans-serif;
}
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../assets/HomeBackgroundImg1.png);
}

.Body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Container {
  height: 100vh;
}
#Welcome .Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  animation: fadeInLeft 2s;
}

#Welcome .Container p {
  text-align: center;
  padding-top: 10%;
}
#Welcome .Container p:nth-child(1) {
  /* width: 70vw; */
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
#Welcome .Container p:nth-child(1) span {
  color: red;
}

#Welcome .Container p:nth-child(2) {
  width: 70vw;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  color: #fff;
}
#Welcome .Container p:nth-child(2) span {
  color: #f6b42b;
}

#Testimonials .Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 2s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(var(--animation-slide-offset-neg-x), 0, 0);
    transform: translate3d(var(--animation-slide-offset-neg-x), 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
