@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Merriweather&display=swap");

.LoginPage {
  height: 100vh;
  background-color: #fff;
  font-family: "Commissioner", sans-serif;
}
.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_col {
  display: flex;
  flex-direction: column;
}
.v_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.body {
  height: 85vh;
  width: 100vw;
  margin: 0;
}

.body .leftContainer {
  position: relative;
  background-color: #cde7fb;
  height: 100%;
  width: 100%;
  border-top-right-radius: 10rem;
}

.body .leftContainer .kandiHuman {
  position: absolute;
  min-width: 15rem;
  width: 20vw;
  top: 10%;
  left: 70%;
  z-index: 1;
}
.body .rightContainer {
  position: relative;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.body .leftContainer .welcomeContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  background-color: #fff;

  width: 25vw;
  height: 60vh;
  border-radius: 2rem;
  box-shadow: 10px 8px #2084b9;
  text-align: left;
  top: 15%;
  left: 10%;
}

.body .leftContainer .welcomeContainer p {
  color: #f38f32;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  padding: 10% 25%;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding: 0 2rem;
  position: absolute;
  background-color: #cde7fb;
  min-width: 50%;
  min-height: 70%;
  height: fit-content;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px 1px #a4a5a5;
  top: 10%;
  right: 10%;
}

.loginContainer .loginTitle {
  font-weight: 700;
  font-size: 1.5rem;
  color: #285fa4;
}

.loginContainer .loginBodyContainer {
  font-weight: 200;
  /* gap: 1rem; */
}
.loginContainer .loginBodyContainer p {
  margin-top: 10px;
}
.loginContainer .loginBodyContainer .input {
  position: relative;

  margin-top: 10px;
}

.loginContainer .loginBodyContainer span {
  color: red;
}

.loginContainer .loginBodyContainer p a {
  text-decoration: underline;
}

.loginContainer .loginButtonContainer {
  margin-top: 10px;
  gap: 1rem;
  align-items: center;
}
.loginContainer .loginButtonContainer button {
  border-radius: 0.5rem;
  border: none;
  background-color: #285fa4;
  color: #fff;
  font-weight: 600;
  width: 8rem;
  height: 2.5rem;
}

.loginContainer .loginButtonContainer p {
  font-weight: 600;
  font-size: 1rem;
  color: #285fa4;
  text-decoration: underline;
}

.loginContainer hr {
  border: none;
  border-top: 1px solid #9f9f9d;
  width: 100%;
}
.loginContainer p a {
  font-weight: 600;

  text-decoration: underline;
  color: #285fa4;
}

/* input field */
.input-field {
  max-width: 100%;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  height: 2.5rem;
  text-indent: 10px;
  font-size: 15px;
  color: #757575;
}

input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #757575;
}

.input-field:focus {
  outline: none;
}

.loginContainer .loginBodyContainer i {
  position: absolute;
  right: 10px;
  top: 8px;
}
