.add_event_card {
  position: absolute;
  left: 0.5rem;
  top: 110%;
  width: 80%;
  padding: 1rem 0.5rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.input_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}

.input_container > * {
  width: 100%;
}
label {
  font-weight: 500;
  text-align: left;
}
.split_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}

.split_container > p {
  font-weight: 400;
}

@media (min-width: 790px) {
  .add_event_card {
    width: 22%;
    top: 100%;
    right: 0.5rem;
    left: auto;
  }
}
