@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

.event_card {
  display: flex;
  flex-direction: column;
  width: clamp(10em, 35vh, 15em);
  min-height: 14em;
  background-color: #fff;
  color: #000;
  text-align: left;
  box-sizing: border-box;
  padding: 1em 1em;
  margin-right: 2rem;
}
.active {
  background-color: #0676cc;
  color: #fff;
}
.event_card .date {
  font-weight: 400;
  font-size: 1.1em;
  flex: 3;
  font-family: "Old Standard TT", serif;
}
.event_card .date p:nth-child(1) {
  font-size: 2.4em;
}
.event_card .date p:nth-child(2) {
  font-size: 1.1em;
}

.title {
  flex: 1;
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Comfortaa", cursive;
}
.venue {
  flex: 1;
  font-weight: 300;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
}
