@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 3rem;
  font-family: sans-serif;
  font-family: "Commissioner", sans-serif;
}
.Testimonial-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 2px 5px #25252551;
  background-color: #bddcf380;
  backdrop-filter: blur(7px);
  font-size: 1em;
}

.Profile-Container {
  width: 13rem;
  height: 13rem;
}
.Profile-Container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.Quotes {
  max-width: 70%;
  box-sizing: border-box;
}
.Quotes h2 {
  width: 10rem;
}
.Quotes p {
  word-break: break-word;
}

/* mobile carousel */
@media (max-width: 920px) {
  .Testimonial {
    font-size: 0.8em;
  }
}
@media (max-width: 790px) {
  .Testimonial {
    font-size: 0.6em;
  }
}

@media (max-width: 540px) {
  .Testimonial {
    font-size: 0.4em;
  }
}
