.table_header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.table_controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_actions {
  display: flex;
  gap: 1rem;
}

.table_actions button {
  display: flex;
  gap: 0.3rem;
  font-size: 0.8rem;
  padding: 0.6em 1em;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.table_info_handler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search :nth-child(1) {
  position: absolute;
  font-size: 1rem;
  left: 0.7rem;
}

.search input {
  flex: 1;
  padding: 0.3em;
  padding-left: 2rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 10rem;
  font-size: 1rem;
}
