@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

.event_page {
  display: flex;
  flex-direction: column;
}

.error_container {
  min-height: 100vh;
  padding: calc(var(--navbar-height) + 2rem) 1.2rem;
}

.event_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: calc(var(--navbar-height) + 2rem) 1.2rem;
}
.event_page_content {
  text-align: left;
  min-height: 100vh;
  /* font-family: "Old Standard TT", serif; */
}

.event_page_content .header {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 1rem;
  font-weight: 800;
  padding-inline: 0.5rem;
}

.event_page_content .header span {
  font-size: 2.3rem;
}

.add_event_button {
  display: flex;
  align-items: center;
  right: max(2rem, 2vw);
  bottom: 3rem;
  padding: 0.05em 0.05em 0.05em 1em;
  max-width: fit-content;
  border-radius: 2rem;
  background: #fff;
  font-size: 1em;
  gap: 0.5rem;
  z-index: 5;
  cursor: pointer;
}
.add_event_button > p {
  font-weight: bold;
  color: rgb(50, 50, 50);
}
.add_event_icon {
  display: grid;
  place-items: center;
  width: 2em;
  height: 2em;
  background-color: #0676cc;
  color: #fff;
  clip-path: circle();
  font-size: 1.2em;
  rotate: 0;
  transition: rotate 0.2s linear;
}
.add_event_icon.active {
  rotate: 135deg;
}

.events {
  display: flex;
  margin: 1.8rem 0.7rem;
  min-height: 0;
  max-width: 100%;
}

.events::-webkit-scrollbar {
  display: none;
}

.events .child {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.events .child > * {
  flex-basis: 20%;
  flex-grow: 1;
  margin-bottom: 1rem;
  /* margin-right: auto; */
}

@media (min-width: 790px) {
  .event_body {
    font-size: 1.2em;
  }
  .event_body .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 790px) {
  .event_body {
    font-size: 0.8em;
  }
}

@media (max-height: 520px) {
  .event_body {
    padding-top: 7rem;
  }
}
