@font-face {
  font-family: "neue_haas_rg";
  src: url("assets/Fonts/neue_haas_sv/NHaasGroteskTXPro-55Rg.ttf");
}
@font-face {
  font-family: "neue_haas_md";
  src: url("assets/Fonts/neue_haas_sv/NHaasGroteskTXPro-65Md.ttf");
}
@font-face {
  font-family: "neue_haas_bd";
  src: url("assets/Fonts/neue_haas_sv/NHaasGroteskTXPro-75Bd.ttf");
}

.error_container {
  min-height: 100vh;
  padding: calc(var(--navbar-height) + 2rem) 1.2rem;
}

.gallery h1 {
  margin-left: 1.5rem;
  font-size: 2rem;
  width: fit-content;
}

.gallery h2 {
  font-size: 1.5rem;
}
.gallery h2 > span {
  font-weight: lighter;
  color: rgb(55, 55, 55);
}

.gallery a {
  text-decoration: none;
  color: inherit;
}

.gallery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 12vh;
}
.gallery .header {
  position: relative;
  padding: 2rem 0;
  height: 14%;
}

.gallery .header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  height: 0.7px;
  background-color: #25252551;
  animation: linehgrow 2s;
}

.gallery_items_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.gallery_item {
  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.gallery_item .container {
  width: 100%;
  height: 100%;
}
.gallery_item .container img {
  width: 100%;
  height: 90%;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  object-fit: cover;
}

.gallery_item h2 {
  width: fit-content;
  margin-inline: auto;
  position: relative;
}

.gallery_item h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  scale: 0;
  transition: scale 0.3s ease-in-out;
}
.gallery_item:hover h2::before {
  transform-origin: left;
  scale: 1;
}

@media (min-width: 768px) {
  .gallery {
    padding-top: 15vh;
    height: 100vh;
  }
  .gallery_items_container {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    position: relative;
  }
  .gallery_item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 90%;
    translate: -50% -50%;
    scale: 0.5;
    -webkit-transition: translate, scale, filter 0.8s, 0.8s, 0.2s linear;
    -moz-transition: translate, scale, filter 0.8s, 0.8s, 0.2s linear;
    -ms-transition: translate, scale, filter 0.8s, 0.8s, 0.2s linear;
    -o-transition: translate, scale, filter 0.8s, 0.8s, 0.2s linear;
    transition: translate, scale, filter 0.8s, 0.8s, 0.2s linear;
  }
  .gallery_item.item_active {
    filter: none;
    opacity: 1;
    translate: -50% -50%;
    scale: 1;
    /* transform: translate(-50%, -50%) scale(1); */
    z-index: 4;
  }
  .gallery_item.item_left {
    opacity: 0.5;
    translate: -80% -50%;
    scale: 0.8;

    z-index: 2;
  }
  .gallery_item.item_right {
    opacity: 0.5;
    translate: -20% -50%;
    scale: 0.8;

    z-index: 2;
  }
}

@keyframes linehgrow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
