.profile_card {
  padding: 1rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 1rem;
  width: clamp(25rem, 40%, 35rem);
  max-height: 10rem;
  background-color: rgba(255, 255, 255, 0.54);
}

.profile_card h3 {
  font-size: 1rem;
}

.profile_card .user_profile {
  width: 8rem;
  border-radius: 10rem;
  cursor: pointer;
}

.profile_card .message_button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.3em 0.9em;
  border-radius: 0.3em;
  outline: none;
  background: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.user_info_container {
  flex: 1;
  padding: 1rem 0rem 1rem 1rem;
}
