@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Body {
  display: flex;
  flex-direction: column;
  font-family: "Commissioner", sans-serif;
}
.Content-Container {
  scroll-snap-type: y mandatory;
}

.Content-Container .Container {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

#Welcome .Container {
  justify-content: center;
  text-align: center;
  margin: 0 1.5rem;
  gap: 2em;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  animation: fadeInLeft 2s;
}
#Welcome .Container h1 {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 0.1rem;
}
#Welcome .Container h1 span {
  color: red;
}

#Welcome .Container p {
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  color: #fff;
  padding: 0.5em 2em;
  text-shadow: 1px 2px red;
}
#Welcome .Container p::before {
  content: open-quote;
  color: #f6b42b;
  text-shadow: 1px 2px rgb(105, 105, 105);
}
#Welcome .Container p::after {
  content: close-quote;
  color: #f6b42b;
  text-shadow: 1px 2px rgb(105, 105, 105);
}
#Testimonials .Container {
  position: relative;
}
#Testimonials img[alt="testimonial-img"] {
  bottom: -2%;
  position: absolute;
  height: 70%;
  width: 100%;
  object-fit: contain;
}

.new_testimonial_btn {
  position: absolute;
  bottom: 8%;
  right: 2%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.2em 0.1em 0.2em 0.6em;
  border: none;
  background-color: #eaeef1;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 5px 1px #7a7a7a93;
  width: fit-content;
}

.new_testimonial_btn span {
  display: grid;
  place-items: center;
  width: 1.2em;
  height: 1.2em;
  margin-left: 0.3em;
  background-color: #6b799c;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  /* font-weight: bold;
  font-family: "Old Standard TT", serif; */
  box-shadow: 0 0 3px 2px #40404037;
  transition: transform 0.5s linear;
  transform-origin: center center;
}

.new_testimonial_btn:hover {
  box-shadow: 0 0 3px 2px #40404070;
}
.new_testimonial_btn.active span {
  transform: rotate(135deg);
}

@media (max-width: 1040px) {
  #Welcome .Container {
    padding-top: 0.5rem;
    font-size: 0.9em;
  }
}
@media (max-width: 790px) {
  #Welcome .Container {
    padding-top: 1rem;
    font-size: 0.8em;
  }

  #Welcome .Container p {
    padding: 0.5em;
  }
}
