<head>
  
  <link rel="stylesheet" href="/styles/header.css">
</head>
  <div class="Header">
    <div class="InnerHeader">
      <img id="KrishnaLogo" src="/images/Logo1.png" alt="Wait">
      <h1 id="hello">  SKCT Alumni Portal  </h1>
      <img id="SkctLogo" src="/images/Logo2.png" alt="Wait">
    </div>
</div>