@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

.event_page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.event_body {
  height: 100vh;
  padding-top: 6rem;
  margin: 0 1.2rem;
  overflow-y: scroll;
}
.event_page_content {
  text-align: left;
  font-family: "Old Standard TT", serif;
}

.event_page_content .title {
  font-size: 22px;
  font-weight: 600;
}

.event_page_content .title span {
  font-size: 30px;
}
.events {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.events .child {
  display: flex;
  flex-direction: row;
  scroll-snap-align: start;
}
