.container {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
  padding-top: calc(var(--navbar-height));
}

.image_container {
  position: relative;
  flex: 0.7;
  display: flex;
  background: #cde7fb;
  margin-block-start: 3vh;
  border-radius: 0 5rem 5rem 0;
}
.image_container img {
  top: 10%;
  right: -30%;
  position: absolute;
  max-width: 90%;
  max-height: 70%;
  object-fit: cover;
}

.form_container {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  margin-inline-start: clamp(2rem, 10%, 5rem);
}
.form {
  display: flex;
  flex-direction: column;
  min-width: 45%;
  height: fit-content;
  margin-inline-start: clamp(1rem, 15%, 7rem);
  margin-right: 1rem;
  padding: 2em 3em;
  margin-block: clamp(2rem, 5%, 5rem);
  border-radius: 1rem;
  background-color: #cde7fbe1;
  color: #285fa4;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  gap: 1rem;
  font-size: clamp(0.6em, 1.5vw, 0.9em);
}
.form_header {
  font-size: 1em;
  text-align: center;
}
.form_body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  font-size: 1em;
}
.form_body form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 1rem;
}

.form_input_container {
  display: flex;
  width: 100%;
}
.form_input_container > * {
  width: 100%;
  padding: 1em;
  border-radius: 0.5rem;
  border: none;
  font-size: 1em;
  font-weight: 400;
  color: rgb(94, 93, 93);
}
.form_input_container > *:focus {
  outline: none;
}

.form_input_container > input::placeholder {
  color: rgb(94, 93, 93);
}

.form_actions_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 1rem;
}

.form_actions_container > * {
  font-size: 1em;
  font-weight: bold;
  color: #285fa4;
}

.form_actions_container button {
  padding: 0.8em 4em;
  border-radius: 0.5rem;
  border: none;
  background-color: #285fa4;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.form_actions_container > *:hover {
  cursor: pointer;
}

.form_vactions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.form_vactions_container > * {
  font-size: 1em;
  font-weight: bold;
  color: #285fa4;
}
.form_vactions_container > *:hover {
  cursor: pointer;
  outline: none;
}

.form_vactions_container > p:nth-child(1) {
  font-size: 1em;
  font-weight: 400;
  color: rgb(94, 93, 93);
}
.form_vactions_container > p:nth-child(1) span {
  font-size: 1em;
  font-weight: bold;
  color: #285fa4;
}
.form hr {
  box-sizing: border-box;
  border: none;
  border-top: 1px solid #285fa4;
  width: 100%;
}

.form_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 0.5rem;
  font-size: 1em;
  font-weight: 400;
  color: rgb(94, 93, 93);
}
.form_footer a {
  color: #285fa4;
  font-weight: 600;
}
