@font-face {
  font-family: "neue_haas_rg";
  src: url("../assets/Fonts/neue_haas_sv/NHaasGroteskTXPro-55Rg.ttf");
}
@font-face {
  font-family: "neue_haas_md";
  src: url("../assets/Fonts/neue_haas_sv/NHaasGroteskTXPro-65Md.ttf");
}
@font-face {
  font-family: "neue_haas_bd";
  src: url("../assets/Fonts/neue_haas_sv/NHaasGroteskTXPro-75Bd.ttf");
}

.gallery h1,
h2 {
  margin-block: 1.5rem;
}
.gallery h1 {
  margin-left: 1.5rem;
  font-size: 2em;
}

.gallery h2 {
  font-size: 1.5rem;
}
.gallery h2 > span {
  font-weight: lighter;
  color: rgb(55, 55, 55);
}

.gallery {
  min-height: 80vh;
  padding-top: calc(var(--navbar-height) + 1vh);
  margin-bottom: 2rem;
  font-family: "neue_haas_rg";
}
.gallery_container {
  z-index: -1;
  position: relative;
}
.gallery_container::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 1.5px;
  background-color: #000;
  animation: linehgrow 2s;
}
.gallery_container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #000;
  animation: linehgrow 2s;
}

.gallery_items_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gallery_item_container {
  display: grid;
  grid-template-columns: 1fr 0fr;
  position: relative;
}

.gallery_item {
  display: grid;
  grid-gap: 1rem;
  place-items: center;
}
.gallery_item .itemImg {
  display: grid;
  place-items: center;
  margin: 1rem;
}
.gallery_item .itemImg img {
  width: min(10rem, 70%);
  height: auto;
  margin: auto;
}
.gallery_item .itemTitle {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.gallery_item_container:nth-of-type(1) .gallery_item .itemTitle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.7px;
  background-color: #000;
  animation: linehgrow 3s;
}
.gallery_item_container:nth-of-type(2) .gallery_item .itemTitle::after,
.gallery_item_container:nth-of-type(3) .gallery_item .itemTitle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.7px;
  background-color: #000;
  animation: linehgrow 3s;
}

@media (max-width: 58rem) {
  .gallery_items_container {
    grid-template-columns: repeat(auto, 1fr);
  }
  .gallery_item_container:nth-of-type(1)::after {
    content: "";
    width: 0.07rem;
    height: 100%;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: linevgrow 3s;
  }
  .gallery_item_container:nth-of-type(1)::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: linehgrow 3s;
  }
  .gallery_item_container:nth-of-type(2)::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: linehgrow 3s;
  }
  .gallery_item_container:nth-of-type(3)::after {
    content: "";
    width: 0.07rem;
    height: 100%;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: linevgrow 3s;
  }
}
@media (min-width: 58rem) {
  .gallery_items_container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery_item_container:nth-of-type(1)::after,
  .gallery_item_container:nth-of-type(2)::after {
    content: "";
    width: 0.07rem;
    height: 100%;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    animation: linevgrow 3s;
  }
  .gallery_item_container:nth-of-type(1) .gallery_item {
    grid-template-rows: 0.8fr 0.2fr;
  }
  .gallery_item_container:nth-of-type(2) .gallery_item {
    grid-template-rows: 0.7fr 0.3fr;
  }
  .gallery_item_container:nth-of-type(3) .gallery_item {
    grid-template-rows: 0.2fr 0.8fr;
  }
}

@keyframes linehgrow {
  from {
    width: 0%;
    height: 0.7px;
  }
  to {
    width: 100%;
    height: 0.7px;
  }
}
@keyframes linevgrow {
  from {
    height: 0%;
    width: 0.7px;
  }
  to {
    height: 100%;
    width: 0.7px;
  }
}
