@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Merriweather&display=swap");

.container {
  display: flex;
  min-height: calc(100vh - var(--footer-height));
  padding-top: calc(var(--navbar-height));
  background: #fff;
}

.image_container {
  flex: 2;
}
.image_container img {
  position: sticky;
  position: -webkit-sticky;
  top: calc(var(--navbar-height));
  /* float: right; */
  max-height: 80%;
  max-width: 100%;
}

.form_container {
  flex: 1;
  padding: 1rem;
  min-height: 120%;
  border: 1px solid #000;
}

@media (max-width: 790px) {
}
