.footer {
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  bottom: 0;
}
.footer-container {
  background-color: #285fa4;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 0.9em;
  z-index: 0;
}

.footer-container .top {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7em 1.2em;
}

.top .left {
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 18rem;
}
.top .right {
  max-width: 18rem;
  text-align: right;
}
hr {
  border: 0;
  border-bottom: 1px solid #c1c1c1;
}

.footer-container .bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7em 1.2em;
}
.bottom .left {
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 25rem;
  align-items: center;
}

.bottom .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  max-width: 20rem;
}

@media (max-width: 1040px) {
  .footer-container {
    font-size: 0.8em;
  }
}

@media (max-width: 790px) {
  .footer-container {
    font-size: 0.7em;
  }
}
