@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Merriweather&display=swap");

.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.navbar {
  min-height: var(--navbar-height);
  max-width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font-family: "Commissioner", sans-serif;
  box-shadow: 0px 1px 1px #25252551;
  font-size: 1em;
  transition: all 0.5s ease-in-out, max-width 0s;
}

.navbar.scrolled {
  --navbar-height: 11vh;
  font-size: 0.9em;
}

/* Navigation */
.navLink {
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-align: left;
}

.navLink a {
  font-size: 1em;
  font-weight: 600;
  color: #4d4d4d;
  text-decoration: none;
}
.navLink a:hover {
  color: #000;
}

/* Brand */
.navbar-brand {
  flex: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  margin: 0 1rem;
}
.navbar-brand hr {
  width: 1.5px;
  height: 1.5em;
  background-color: rgb(41, 40, 40);
  margin: 0 0.5em;
}
.navbar-brand .titleText {
  max-width: 30rem;
  min-height: 3rem;
  display: grid;
  place-items: center;
  font-size: 1.1em;
}
.navbar-brand .titleText * {
  font-weight: bold;
  letter-spacing: 0.1em;
}

@media (max-width: 1040px) {
  .navbar-brand .titleText {
    font-size: 0.9em;
  }
  .navLink {
    font-size: 0.8em;
  }
}

.navbar-brand .titleText h1 {
  font-size: 0.8em;
}
.navbar-brand .titleText h3 {
  font-size: 0.4em;
  font-weight: 600;
}

.navbar-logo {
  margin: 0 1em;
}
.navbar-logo img {
  max-width: 3.5em;
}

/* Dropdown component for small screens */

.dropdown-btn {
  cursor: pointer;
  color: #4d4d4d;
}
.dropdown-btn:hover {
  color: #000;
}

.dropdown {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.2em;
}

/* background blur */
.background_blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 1236px) {
  .navbar {
    font-size: 1em;
  }
}
/* mobile screen */

@media (max-width: 790px) {
  .navbar {
    --navbar-height: 11vh;
    font-size: 1em;
  }
  .navbar.scrolled {
    --navbar-height: 8vh;
    font-size: 0.7em;
  }
  .navLink {
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2em;
  }
  .navbar-brand {
    flex: 1;
    font-size: 1.6em;
    justify-content: start;
    margin: 0;
  }
  .navbar-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .navbar-logo img {
    max-width: 2.5em;
  }
}
