@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
  height: 40%;
  background-color: #bddcf380;
  font-family: sans-serif;
  line-height: 1;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 0 0 0 10px;
  z-index: -10;
  box-shadow: 5px 5px 15px rgb(107, 106, 106);
  font-family: "Commissioner", sans-serif;
}
.Testimonial-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  animation: fadeInLeft 2s;
}

.Profile-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  flex: 25%;
  align-items: center;
  justify-content: center;
}

.Profile-Container img {
  max-width: 50vw;
  max-height: 30vh;
  min-width: 30vh;
  width: auto;
  height: auto;
  clip-path: circle();
}

.Testimonial .Quotes {
  flex: 75%;
  margin: 0 20px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
.Name {
  margin: 0 20px;
  margin-top: 10px;
  color: #686767;
  font-weight: 400;
  font-size: 24px;
  padding-left: 100px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(var(--animation-slide-offset-neg-x), 0, 0);
    transform: translate3d(var(--animation-slide-offset-neg-x), 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
