@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3em 2em;
  margin: 0 1rem;
  border-radius: 1rem;
  z-index: -10;
  box-shadow: 5px 5px 15px rgb(107, 106, 106);
  background-color: #bddcf380;
  font-family: sans-serif;
  font-family: "Commissioner", sans-serif;
}
.Testimonial-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: fadeInLeft 2s;
  font-size: 1.3em;
}

.Profile-Container {
  display: flex;

  /* height: 80%; */
  flex: 25%;
  justify-content: center;
  align-items: center;
}

.Profile-Container img {
  max-width: 12em;
  min-height: 5em;
  height: 10em;
  margin: 0 1rem;
  clip-path: circle();
}

.Testimonial .Quotes {
  flex: 75%;
  margin: 0 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.8em;
}
.Author {
  margin: 0 1rem;
  margin-top: 0.8rem;
  color: #151515;
  font-weight: 400;
  font-size: 1.2em;
  float: right;
}

/* mobile carousel */
@media (max-width: 920px) {
  .Testimonial {
    font-size: 0.8em;
  }
}
@media (max-width: 790px) {
  .Testimonial {
    font-size: 0.6em;
  }
}

@media (max-width: 540px) {
  .Testimonial {
    font-size: 0.4em;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(var(--animation-slide-offset-neg-x), 0, 0);
    transform: translate3d(var(--animation-slide-offset-neg-x), 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
