.comment_form {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 5%;
  align-self: flex-end;
  align-items: center;
  width: 30%;
  gap: 0.3rem;
  background-color: #000;
  color: #fff;
  border-radius: 1.56rem;
  font-weight: bold;
  font-size: 0.9rem;
  transition: all 0.4s;
  cursor: pointer;
}

.comment_form_expanded {
  width: 100%;
}

.comment_form button {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 1.56rem;
  color: #000;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 0.2em 0.25em;
  font-size: 1.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.comment_form input {
  padding: 0.2em;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.8rem;
}

.comment_form input::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}
