/* for profile page */
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post_container {
  margin: 1.3rem 0;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem 0.5em 0 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.userinfo_container {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-weight: bold;
}

.header img {
  width: 50px;
  padding: 0.5em;
}

.post_caption_container {
  display: flex;
  gap: 1rem;
  color: white;
}

.post_image_container {
  position: relative;
}

.post_image_container img {
  width: 100%;
  border-radius: 0 0 0.5em 0.5em;
}

.post_overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 0 0 0.5em 0.5em;
}

.post_caption_container {
  padding: 1em;
  position: absolute;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.post_caption_container :nth-child(1) {
  font-weight: bold;
}

.post_caption_container span {
  font-weight: bold;
  cursor: pointer;
}

.post_action_container {
  display: flex;
  gap: 1rem;
  margin-right: 1em;
}
