.reply_form {
  display: flex;
  flex-direction: row;
  padding: 0.1em 0.1em 0.1em 0.3em;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  position: sticky;
  bottom: 5%;
  align-self: flex-end;
  /* todo: Make width responsive */
  /* width: 16%; */
  background-color: #000;
  border-radius: 1.56rem;
  transition: all 0.4s ease-in-out;
}

.reply_form button {
  color: #000;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 0.1em 0.15em;
  font-size: 1.2rem;
  min-width: 1.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.reply_form input::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.reply_form input {
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 0.3em;
  outline: none;
  border: none;
  font-weight: bold;
}

.reply_form_expanded {
  /* width: 100%; */
  background-color: #f3f2db;
}

.reply_form_expanded input {
  color: #000;
}

.reply_form_expanded input::placeholder {
  color: #000;
}

.reply_form_expanded :nth-child(2) {
  color: #fff;
  background-color: #000;
}
