<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Invitation Card</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");

      .outer {
        width: 759px;
        height: 407px;
        box-sizing: border-box;
        border: 2px black solid;
        font-family: "Inter", sans-serif;
      }

      .skcthead {
        /* box-sizing: border-box; */
        /* border: 1px solid;   */
        display: flex;
        /* flex-direction: column; */
        /* padding-bottom: 10px; */
        background-color: #cde7fb;
        font-size: 26px;
        font-family: "Inter", sans-serif;
        width: 755px;
        height: 124.06px;
      }

      .image1 {
        padding: 20px;
      }

      .image2 {
        padding: 20px;
      }

      .skcthead #top {
        /* padding: 20px; */
        padding-left: 30px;
        font-size: 20px;
        font-weight: 800;
      }

      .skcthead #subtop {
        font-size: 13.5px;
        padding-left: 8px;
        font-weight: 500;
      }

      .titletop {
        width: 515px;
        height: 94px;
        padding-top: 20px;
        padding-left: 28px;
      }

      .skcthead #krishnaLogo {
        width: 78px;
        height: 74.95px;
      }

      .skcthead #skctLogo {
        width: 78px;
        height: 74.95px;
      }

      .bottom #dp {
        width: 169px;
        height: 190px;
      }

      .middle {
        width: 757px;
        height: 70px;
        display: flex;
        padding-top: 10px;
        /* padding-bottom: 5px; */
        /* vertical-align: center; */
        /* background-color: aqua; */
      }

      .smallbox {
        background-color: #cde7fb;
        width: 401px;
        height: 47px;
        margin: auto;
        padding: auto;
        margin-left: 150px;
        text-align: center;
      }

      .smallbox #top {
        font-weight: 700;
        font-size: 20px;
        font-family: "Inter", sans-serif;
        color: #285fa4;
      }

      .bottom {
        display: flex;
        /* background-color: red; */
      }

      .bottom #dp {
        padding: 25px;
        padding-top: 22px;
        width: 137px;
        height: 154px;
      }

      .details {
        height: 154px;
        width: 349px;
        margin: 22px;
        background-color: #cde7fb;
      }

      .details #detail {
        font-size: 18px;
        color: #285fa4;
        margin: 15px;
      }

      .qr #img {
        height: 100px;
        width: 100px;
        padding-top: 50px;
        padding-left: 30px;
      }
    </style>
  </head>

  <body>
    <div>
      <p>
        Your Alumni Application have been approved, Please find your Alumni
        Membership Card, attached below! Thanks
      </p>
    </div>
  </body>
</html>
