<html>
  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

      .parent-container {
        border-radius: 1em;
        overflow: hidden;
      }

      .Child {
        padding: 1rem 2rem;
        background-color: rgba(255, 255, 255, 0.842);
        /* filter: opacity(70%); */
      }

      .Child #ProfileName {
        text-align: left;
        font-size: 25px;
        font-weight: 700;
      }

      .Child #DetailsAbout {
        font-size: 16px;
        word-spacing: 0.5rem;
        font-weight: 500;
      }

      .Child .Button {
        width: fit-content;
        margin: 0 auto;
        box-sizing: border-box;
        text-align: center;
        padding: 3rem 3rem;
      }

      .Child .Button #Link {
        background-color: #6c53ff;
        border-color: #6c53ff;
        color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 1.1em;
        font-weight: 500;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
      }

      .Child #Line {
        border: none;
        border-top: 1px solid black;
        padding-bottom: 2em;
      }

      .child #Contacts {
        padding-top: 2em;
        font-size: 20px;
        font-weight: 500;
        padding: 0rem 1rem;
      }

      .Child #ContactEmail {
        color: #405cf5;
      }

      .Parent {
        margin: 10rem auto 0 auto;
        border-radius: 1;
        width: clamp(30em, 90%, 40em);
        height: fit-content;
        text-align: justify;
        padding: 1rem;
        background-color: rgb(138, 199, 253);
        border-radius: 1em;
        font-family: "Inter", sans-serif;
      }

      .Header {
        /* margin: 5rem auto 0 auto; */
        text-align: center;
        background-color: rgb(129, 167, 255);
      }
      .InnerHeader > * {
        height: 50px;
        display: inline-block;
        vertical-align: middle;
      }

      .Header #SkctLogo {
        width: 4.5em;
        height: 4.5em;
      }

      .Header #KrishnaLogo {
        width: 4.5em;
        height: 4em;
      }
    </style>
  </head>
  <body>
    <div class="parent">
      <div class="parent-container">
        <div class="Header">
          <div class="InnerHeader">
            <img
              id="KrishnaLogo"
              src="https://thumbs2.imgbox.com/b3/e5/iYUQgo7e_t.png"
              alt="SK Logo"
            />
            <h1 id="hello">SKCT Alumni Portal</h1>
            <img
              id="SkctLogo"
              src="https://thumbs2.imgbox.com/63/f6/9HJ6z6j1_t.png"
              alt="SKCT Logo"
            />
          </div>
        </div>

        <div class="Child">
          <h3 id="ProfileName">Hello <%= receiver %>,</h3>
          <!-- <p><%= content %></p> -->
          <p id="DetailsAbout">
            If your not trying to change the password but someone, we recommend
            you to reset password. Click on below button to change your password
          </p>
          <div class="Button">
            <button id="Link">Reset Password</button>
          </div>
          <hr id="Line" />
          <div class="Footer">
            <p>
              Need help? <span id="ContactEmail"><u>Contact us</u></span>
            </p>
          </div>
          <div class="FooterEnd">
            <p id="Alumniemail">
              Copyright @2022 Alumnisite@gmail.com. | All Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
