5<head>
     <link href="styles/child.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="styles/parent.css" type="text/css">
    <link rel="stylesheet" href="styles/parentcontainer.css" type="text/css">
</head>
<div class="parent">
    <div class="parent-container">
        <%- include('./includes/header.ejs') %>    
        <div class="Child">
            <h3 id="ProfileName">Hello <%= receiver %>,</h3>
            <!-- <p><%= content %></p> -->
            <p id="DetailsAbout">If your not trying to change the password but someone,
                we recommend you to reset password.
                Click on below button to change your password </p>
              <div class="Button">
                <button id="Link">
                  Reset Password
                </button>
              </div>
              <hr id="Line">
              <div class="Footer">
                <p>Need help? <span id="ContactEmail"><u>Contact us</u></span></p>
          
          
              </div>
              <div class="FooterEnd">
                <p id="Alumniemail">Copyright @2022 Alumnisite@gmail.com. | All Rights Reserved </p>      
              </div>
        </div>
    </div>

    
    <!-- <%- include('./includes/footer.ejs') %> -->
</div>
</div>