<p>Dear <%= name %>,</p>
<div>
  We are delighted to inform you that your request for alumni has been approved.
  On behalf of the SKCT's alumni association, it is our pleasure to welcome you
  back to our prestigious community of alumni. Please find attached your Alumni
  Membership card and instructions on how to access our exclusive alumni
  benefits. We hope you take advantage of the various resources and
  opportunities that come with being a part of our alumni portal. Once again,
  congratulations on your approval, and we look forward to staying connected
  with you.
</div>
<div>
  <p>Best Regards</p>
  <p>SKCT Alumni Association</p>
  <p>Sri Krishna Institutions</p>
</div>
