@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
}

.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_col {
  display: flex;
  flex-direction: column;
}
.v_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Navbar {
  display: flex;
  height: 15vh;
  max-width: 100%;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
}

.NavLink {
  display: flex;
  flex: 20%;
  flex-direction: row;
  gap: 1rem;
}

.Navbar .title {
  flex: 60%;
  height: 15vh;
  margin: 0;
  position: relative;
}
.Navbar .title .titleText {
  width: 60vw;
  height: 10vh;

  justify-content: center;
  align-items: center;
}
.Navbar .title .titleText p {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.Navbar .title .titleText p:nth-child(1) {
  font-size: 20px;
}
.Navbar .title .titleText p:nth-child(2) {
  font-size: 10px;
  font-weight: 600;
}
.skctlogo1 {
  position: relative;
  width: 30%;
}

.skctlogo2 {
  position: relative;
  width: 30%;
}
.Navbar p a {
  font-size: 1rem;
  font-weight: 600;
  color: #434343;
  text-decoration: none;
}
.Navbar .right {
  flex: 20%;

  gap: 1rem;
}
