.new_testimonial_container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: 16%;
  right: 2%;
  padding-inline: 1rem;
  border-radius: 10px;
  background-color: #fff;
  width: 30rem;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s linear;
  background-color: #fff;
}

.new_testimonial_container_active {
  bottom: 18%;
  padding: 1rem;
  max-height: 10rem;
}

.img_container {
  position: relative;
  min-width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.img_container input[type="file"] {
  display: none;
}
.img_container label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  cursor: pointer;
}
.img_container.active label {
  opacity: 0.5;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.input_container {
  text-align: left;
  width: 100%;
}
.input_container > * {
  display: block;
}
.input_container > label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.input_container > input {
  border: none;
  background-color: #d9d9d9;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  width: 100%;
}

.input_container input:focus {
  outline: none;
}
