@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.Testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
  font-family: "Commissioner", sans-serif;
}
.Testimonial-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 2rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 5px #25252551;
  background-color: #bddcf380;
  backdrop-filter: blur(7px);
  animation: fadeInLeft 2s;
  font-size: 1em;
  width: 100%;
  white-space: normal;
  overflow: hidden;
}

.Profile-Container {
  position: relative;
  display: flex;
  height: 13rem;
  width: 13rem;
  max-width: fit-content;
  flex: 25%;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.Profile-Container img {
  height: 100%;
  width: 100%;
  clip-path: circle();
  object-fit: cover;
}
.Testimonial .Quotes-Container {
  max-width: 100%;
}
.Testimonial .Quotes {
  display: flex;
  flex: 75%;
  margin: 0 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}
.Author {
  margin: 0 1rem;
  margin-top: 0.8rem;
  color: #151515;
  font-weight: 400;
  font-size: 1.2em;
  float: right;
}

.testimonial_edit img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.2rem;
  filter: drop-shadow(0 0 0.3rem rgba(58, 57, 57, 0.5));
}
/* mobile carousel */
@media (max-width: 920px) {
  .Testimonial {
    font-size: 0.8em;
  }
}
@media (max-width: 790px) {
  .Testimonial {
    font-size: 0.6em;
  }
}

@media (max-width: 540px) {
  .Testimonial {
    font-size: 0.4em;
  }
}
