:root {
  --navbar-height: 15vh;
}
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(./assets/HomeBackgroundImg1.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
