.carousel {
  display: flex;
  max-width: 100%;
  min-height: 100%;
  /* overflow-y: hidden; */
}
.left {
  flex: 5%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.center {
  flex: 80rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: 2em;
  z-index: -1;
}
.right {
  flex: 5%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
