.fixed_col {
  position: sticky;
  right: 0;
  background-color: #fff;
  z-index: 0;
}
.accept,
.decline {
  display: block;
  margin: 0.5em 0;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.accept:hover {
  color: green;
}
.decline:hover {
  color: red;
}
