.carousel {
  max-width: 100vw;

  overflow: hidden;
}
.inner {
  white-space: nowrap;
  transition: transform 0.5s;
}

.carousel_item {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
}
