.carousel {
  display: flex;
  max-width: 100vw;
  min-height: calc(100vh - var(--navbar-height) + 1vh);
}
.left {
  flex: 5%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.center {
  flex: 80rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  padding: 2em;
}
.right {
  flex: 5%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
