.carousel {
  position: relative;
  display: flex;
  min-height: 100vh;
  max-width: 100%;
  /* background: #000; */
  justify-content: space-between;
}
.left,
.right {
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 1em;
}

.center {
  width: 100%;
  overflow-x: hidden;
  /* background: #000; */
}
