.modal_overlay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.comment_modal_main {
  overflow-y: scroll;
  position: fixed;
  background: white;
  max-width: clamp(40rem, 50%, 70rem);
  border-radius: 0.3rem;
  max-height: 75%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.comment_modal_header_container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #fff;
}

.comment_modal_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1.3em 1.3em 0 1.3em;
}

.comments_container {
  margin: 1.5em 0;
  padding: 0.3em 1.3em 0 1.3em;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-attachment: red;
}

.add_comment_button {
  position: sticky;
  bottom: 5%;
  left: 90%;
  border: none;
  outline: none;
  background-color: #000;
  /* Todo: Do something about border-raidius unit */
  border-radius: 25px;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  margin-right: 1em;
}
