.comment_container {
  border-radius: 0.5em;
  background-color: #d9d9d9;
  text-align: justify;
}

.comment_box {
  padding: 0 2em;
  border-radius: 0.5em;
  position: relative;
}

.heading {
  position: relative;
}
.heading > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: -7.5%;
  top: -40%;
}

.username {
  font-weight: bold;
  padding: 0.5em 0 0.3em 0;
}

.comment_action_container {
  display: flex;
  gap: 0.7rem;
  padding-left: 2em;
  margin-bottom: 0.5em;
}

.comment_action_container :nth-child(2) {
  color: #586cda;
  font-weight: bold;
  cursor: pointer;
}

.comment_action_container :nth-child(1) {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.replies_container {
  background-color: #898989;
  /* todo: add border to replies container */
  padding: 1.5rem 1rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5em;
  margin-top: 1.4em;
  max-height: 30vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.replies_container::-webkit-scrollbar {
  display: none;
}

.reply_button {
  position: sticky;
  bottom: -2%;
  margin: auto;
  border: none;
  outline: none;
  background-color: #000;
  /* Todo: Do something about border-raidius unit */
  border-radius: 1.5rem;
  padding: 0.7em;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  margin-right: 1em;
}
