.page_changer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  align-self: flex-end;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.page_changer input {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  outline: none;
  border-radius: 20%;
  border: 1px solid #ccc;
  cursor: pointer;
}

.page_changer .pagination_dots {
  padding: 0.5em;
  font-size: 0.8rem;
  background-color: #fff;
  border-radius: 50%;
  min-width: 1.7rem;
  text-align: center;
}
.page_changer .current {
  padding: 0.3em;
  background-color: #fffcdc;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 50%;
  min-width: 2.3rem;
}
