.reply_box {
  position: relative;
  background-color: #d9d9d9;
  padding: 1em;
  border-radius: 0.5em;
  padding-left: 2em;
  padding-top: 0.5em;
}

.header {
  position: relative;
}

.header > img {
  position: absolute;
  left: -8%;
  top: -90%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: bold;
  padding-bottom: 0.3em;
}
